.content-restriction__settings {
	clear: both;
    padding-block-start: 10px;
	// max-width: 1280px;
	margin: 0 auto;
	&__header {
		margin: 30px auto 60px;
		text-align: center;
		padding-top: 40px;
		margin-bottom: 15px;
	}
	.settings-save-button {
		margin-top: 30px;
	}
	.site-layout-background {
		background: transparent;
	}
}