.ast-skeleton-base {
	display: block;
}

.ast-skeleton {
	height: 1.2em;
	display: block;
	background-color: rgba(0, 0, 0, 0.11);
}

.ast-skeleton-pulse {
	animation: ast-skeleton-keyframes-pulse 1.5s ease-in-out 0.5s infinite;
}

@keyframes ast-skeleton-keyframes-pulse {

	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.4;
	}

	100% {
		opacity: 1;
	}
}

.ast-skeleton--wave {
	overflow: hidden;
	position: relative;
}

.ast-skeleton--wave::after {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	position: absolute;
	animation: ast-skeleton-keyframes-wave 1.6s linear 0.5s infinite;
	transform: translateX(-100%);
	background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.04), transparent);
}

@keyframes ast-skeleton-keyframes-wave {

	0% {
		transform: translateX(-100%);
	}

	60% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(100%);
	}
}
